.app-root
	background linear-gradient(180deg,#e5f0fa 0,#f5faff)
	min-height 100%
	max-width 1600px 
	position relative
	padding 20px
	margin 0 auto

.content-wrapper
	width 100%
	position relative
	display flex
	flex-flow row wrap
	&.error 
		text-align center
		color red
		font-size 14px
		padding 20px

.messages, .dashboard
	flex 1
	height 100%
	flex-basis 80%

