.sms-send
	display block	
	textarea, input
		border 2px solid #ecf2fc
		border-radius 4px
		padding 10px 10px 20px 10px
		&:focus
			color #999
	textarea
		min-height 150px
		width 100%
		&:placeholder
			color #999
	button
		background-color #28a7db
		border none
		font-weight bold
		color #fff
		width 250px
		padding 10px
		text-align left
		border-radius 4px
		margin-top 15px
		&:hover
			background-color #3f90dc
	span
		color #999
	input
		display inline-block
		width 48%
		margin-bottom 15px
	.sms_originator
		margin-left 30px