.content
	background #fff
	padding 30px
	border-radius 5px
	box-shadow 0 3px 6px rgba(36,129,215,0.05),0 2px 3px rgba(36,129,215,0.04)
	position relative
	

.sms-list-holder
	border-top 1px solid #ccc
	
.sms-list
	display flex
	flex-direction row	
	margin-bottom 10px
	div 
		flex 1
		padding 5px
		border-bottom 1px solid #ccc
	&.header 
		font-weight bold
		padding-bottom 15px
		border-bottom 1px dotted #ccc
		padding-top 15px
		div
			border-bottom none				
	
