header.header 
	padding 5px 0 0
	display flex
	margin-bottom 50px

.header-logo 
	background url('https://dashboard.messagebird.com/assets/images/logo/logo.svg') no-repeat left top
	display block
	height 32px
	width 170px
	line-height 60px
	background-size 170px
	margin-right 42px
	
